<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link th:href="@{/css/global.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/roleUser/attendanceList.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header">
  <nav class="global_nav">
    <ul>
      <li><a href="./attendanceInput" class="nav_item">勤怠入力</a></li>
      <li><a href="./contactAddress" class="nav_item">連絡先登録</a></li>
      <li><a href="./attendanceList" class="nav_item">勤怠状況一覧表示</a></li>
      <li>
        <a>
          <form id="logout" th:action="@{/logout}" method="post" class="nav_item" onclick="submit()">
            ログアウト
          </form>
        </a>
      </li>
    </ul>
  </nav>
</header>
<div class="main">
  <div class="main_contents">
    <div class="main_contents_title">
      <h1>勤怠状況一覧</h1>
    </div>
    <div class="main_contents_body">
      <p class="title">勤怠状況</p>
      <table class="statelist">
        <tr>
          <th>名前</th>
          <th>出勤</th>
          <th>退勤</th>
        </tr>
        <tr th:each="attendance : ${attendances}">
          <td th:text="${attendance['id']}"></td>
          <td th:text="${attendance['begin_time']}"></td>
          <td th:text="${attendance['end_time']}"></td>
      </table>
    </div>
  </div>
</div>
</body>
</html>