<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link th:href="@{/css/global.css}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li sec:authorize="hasRole('ADMIN')"><a href="./users" class="nav_item">ユーザー管理</a></li>
          <li sec:authorize="hasRole('ADMIN')"><a href="./attendanceHistories" class="nav_item">勤怠履歴一覧</a></li>
          <li>
            <a>
              <form id="logout" th:action="@{/logout}" method="post" class="nav_item" onclick="submit()">
                ログアウト
              </form>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>ユーザー一覧</h1>
    <button onclick="location.href='/user/add'">ユーザー新規登録</button>
    <table class="users-table">
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>部署</th>
        <th>権限</th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.division_id}"></td>
        <td th:text="${user.role}"></td>
        <td>
          <a th:href="@{user/edit/{id}(id=*{user.id})} ">編集

        </td>
      </tr>
    </table>
  </body>
</html>