<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link th:href="@{/css/global.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/workPlace.css}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li>
            <form role="form" id="logout" th:action="@{/logout}" method="post" class="nav_item">
              <a onclick="submit()">ログアウト</a>
            </form>
          </li>
        </ul>
      </nav>
    </header>
          <h1>ユーザー編集</h1>
            <form th:action="@{/user/update/{id}(id=*{user.id})} "} method="post">
                <tr>
                  <th>ユーザー名</th>
                  <td>
                    <input type="text" name="name" th:value="${user.name}"/>
                  </td>
                </tr>
                <tr>
                  <th>パスワード</th>
                  <td>
                    <input type="text" name="password" />
                  </td>
                </tr>
                <tr>
                  <th>部署</th>
                  <td>
                    <select name="division_id">
                      <option value="1">部署1</option>
                      <option value="2">部署2</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>権限</th>
                  <td>
                    <select name="role">
                      <option value="ROLE_USER">一般ユーザー</option>
                      <option value="ROLE_ADMIN">管理者</option>
                    </select>
                  </td>
                </tr>

              <button onclick="submit">更新</button>

            </form>
            <form th:action="@{/user/delete/{id}(id=*{user.id})} "} method="post">
              <button onclick="submit">削除</button>
            </form>
  </body>
</html>