<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link th:href="@{/css/global.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/attendanceList.css}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li sec:authorize="hasRole('USER')"><a href="./kintai" class="nav_item">勤怠入力</a></li>
          <li sec:authorize="hasRole('USER')"><a href="./workplace" class="nav_item">勤務場所登録</a></li>
          <li sec:authorize="hasRole('USER')"><a href="./contact_address" class="nav_item">連絡先登録</a></li>
          <li sec:authorize="hasRole('ADMIN')"><a href="./attendanceList" class="nav_item">勤怠状況一覧表示</a></li>
          <li sec:authorize="hasRole('USER')"><a href="./login" class="nav_item">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div class="main_contents">
        <div class="main_contents_title">
          <h1>勤怠状況一覧</h1>
        </div>
        <div class="main_contents_body">
        <table class="date-calender">
          <tr>
            <th>日付</th>
            <th>開始</th>
            <th>終了</th>
            <th>休憩</th>
            <th>総労働</th>
          </tr>

          <tr th:each="attendance : ${attendances}">
            <td th:text="${attendance.id}"></td>
            <td th:text="${attendance.date}"></td>
<!--            <td th:text="${attendance.begin_time}"></td>-->
<!--            <td th:text="${attendance.end_time}"></td>-->
<!--            <td th:text="${attendance.rest}"></td>-->
          </tr>
        </table>
        </div>
      </div>
    </div>
    <script src="attendanceList.js"></script>
   </body>
</html>