<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Spring Security Example </title>
        <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="error" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div>
            <table>
                <tr>
                    <th><label for="username"> User Name :  </label></th>
                    <td><input id="username" type="text" name="username"/></td>
                </tr>
                <tr>
                    <th><label for="password"> Password  :  </label></th>
                    <td><input id="password" type="password" name="password"/></td>
                </tr>
            </table>
            <input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>