<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link th:href="@{/css/global.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/workPlace.css}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li><a href="./attendanceInput" class="nav_item">勤怠入力</a></li>
          <li><a href="./workPlace" class="nav_item">勤務場所登録</a></li>
          <li><a href="./contactAddress" class="nav_item">連絡先登録</a></li>
          <li><a href="./attendanceList" class="nav_item">勤怠状況一覧表示</a></li>
          <li>
            <form role="form" id="logout" th:action="@{/logout}" method="post" class="nav_item">
              <a onclick="submit()">ログアウト</a>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div class="main_contents">
        <div class="main_contents_title">
          <h1>勤務場所登録</h1>
        </div>
        <h2>本日の勤務場所を登録して下さい</h2>
        <select>
          <div th:each="workplace : ${workplaces}">
            <option value="${workplace.id}" th:text="${workplace.name}"></option>
          </div>
        </select>
        <input type="button" value="登録" onclick="registDepartment();"><br>
      </div>
    </div>
  </body>
</html>